<div class="container">
    <div class="py-3 text-center">
      <h3>Entre com sua conta</h3>
    </div>
    <div class="row">
      <div class="col-12 d-flex align-content-end justify-content-end pb-5">
        <a class="btn btn-primary" style="display: none;" [href]="'/users'">VOLTAR</a>
      </div>
    </div>
    <div class="row d-flex align-content-center justify-content-center">
        <form class="login" [formGroup]="loginForm" novalidate #formDir="ngForm" (ngSubmit)="onSubmit()" >
            <fieldset>
                <label for="email" class="form-label">Digite seu e-mail:</label>
                <input id="email" name="email" placeholder="E-mail" type="email" formControlName="email" class="form-control ng-pristine ng-touched" />
                <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
                  <p>Campo obrigatório!</p>
                </div>
            </fieldset>

            <fieldset>
                <label class="form-label" for="password">Digite sua senha:</label>
                <input class="form-control ng-pristine ng-touched" id="password" name="password" type="password" placeholder="Senha" formControlName="password" />
                <div *ngIf="password.invalid && formDir.submitted" class="validation-error">
                  <p>Campo obrigatório!</p>
                </div>
            </fieldset>

            <button class="btn btn-primary" type="submit" name="login">
                Entrar
            </button>
        </form>
    </div>
</div>