/* You can add global styles to this file, and also import other style files */
@font-face{
	font-family: 'AnebaNeue-Bold';
	src: url("assets/font-faces/AnebaNeue-Bold.ttf") format('truetype');
	font-weight: bold;
}

@font-face{
	font-family: 'AnebaNeue-Bold-Italic';
	src: url("assets/font-faces/AnebaNeue-Bolditalic.ttf") format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: 'AnebaNeue-Medium';
	src: url("assets/font-faces/AnebaNeue-Medium.ttf") format('truetype');
	font-weight: normal;
}

@font-face{
	font-family: 'AnebaNeue-Medium-Italic';
	src: url("assets/font-faces/AnebaNeue-Mediumitalic.ttf") format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face{
	font-family: 'Redtone-Regular';
	src: url("assets/font-faces/Redtone-Regular.ttf") format('truetype');
	font-weight: normal;
}

@font-face{
	font-family: 'Redtone-Bold';
	src: url("assets/font-faces/Redtone-Bold.ttf") format('truetype');
	font-weight: bold;
}

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

body {
  font-size: .875rem;
  
  *{
    font-family: 'AnebaNeue-Medium';
    letter-spacing: 1.1px;
  }

  i{
    font-family: 'AnebaNeue-Medium-Italic'
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: 'Redtone-Bold'
  }

  form{
    &.create .form-label{
      font-weight: bold;
      padding: .5rem;
    }

    &.has-related fieldset{
      display: flex;
      justify-content: center;
      gap: 30px;
  
      formly-form{
          width: 50%;
  
          formly-group{
              width: 100%;
              max-width: 400px;
          }
      }
  
      table{
          width: 50%;
          border: none;
  
          *{
              border: none;
              box-shadow: unset;
          }
  
          tbody{
              display: flex;
              flex-direction: column;
  
              tr{
                  margin: 5px 0;
      
                  &.active td{
                      background: #00000033;
                      color: #2470dc;
                  }
      
                  td{
                      cursor: pointer;
                      color: var(--bs-btn-hover-bg);
                      border-radius: 9px;
                      width: 100%;
                      display: block;
                      max-width: 400px;
                      text-transform: capitalize;
                      border: 1px solid #00000033;
      
                      &:hover {
                          background: #00000033;
                      }
                  }
                  
              }
          } 
      }
    }

    fieldset+div{
      gap: 30px;
    }
  }

  .page-actions{
    gap: 30px;
  }

  .table.list{
    thead{
      border-bottom-width: 1px;
    }

    tbody{
      tr{
          &:hover {
            background: #00000033;
          }
  
          th, td{
            vertical-align: middle;
           }
      }
  
      .register-acions>a{
        margin-right: 10px;
      }
    }
  } 
  

}


.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media screen and (max-width: 1024px) {
  div:has(>.table.list){
    overflow-x: scroll;
  }

  .register-acions{
    display: flex;
    gap: 5px;
  }
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 56px !important;
    padding-top: 20px;
  }

  main{
    padding-bottom: 1em;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

#teach-form formly-field.d-flex{
  justify-content: flex-end !important;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-left: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  left: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
