.nav-link.active{
    font-weight: 600;
}

a.nav-link#logout{
    margin-top: 30px;
    background: #bab646;
    color: #FFF;
}

a.nav-link#login-sidebar{
    background: #7ab647;
    color: #FFF;
    margin-bottom: 30px;
}